{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 120,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.tsx", "*.jsx"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
