name: Daily API Sync

on:
    schedule:
        - cron: '50 17 * * *' # Runs at 17:50 UTC daily (11:50 PM BD time)
    workflow_dispatch: # Allows manual trigger from GitHub UI

jobs:
    hit-api:
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        steps:
            - name: Get current date
              id: date
              run: echo "today=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

            - name: Call API
              run: |
                  curl --request POST \
                    --url https://github-tracker-fahad.vercel.app/api/sync \
                    --header 'content-type: application/json' \
                    --data "{\"startDate\": \"${{ steps.date.outputs.today }}\", \"endDate\": \"${{ steps.date.outputs.today }}\"}"
