name: Daily API Sync

on:
    schedule:
        - cron: '55 17 * * *' # Runs at 17:55 UTC daily (11:55 PM BD time)
        - cron: '55 9 * * *' # Runs at 09:55 AM daily (3:55 AM BD time)

jobs:
    hit-api:
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        steps:
            - name: Get current date
              id: date
              run: echo "today=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

            - name: Call API
              run: |
                  curl --request POST \
                    --url https://github-tracker-fahad.vercel.app/api/sync \
                    --header 'content-type: application/json' \
                    --data "{\"startDate\": \"${{ steps.date.outputs.today }}\", \"endDate\": \"${{ steps.date.outputs.today }}\"}"
